<h2>Компании</h2>
<ul>
  <li *ngFor="let company of companies$ | async" (click)="showVacancies(company)" style="cursor: pointer;">
    {{ company.name }} ({{ company.city }})
  </li>
</ul>

<hr>

<div *ngIf="selectedCompany">
  <h3>Вакансии для {{ selectedCompany.name }}</h3>
  <ul *ngIf="(selectedCompanyVacancies$ | async)?.length; else noVacancies">
    <li *ngFor="let vacancy of selectedCompanyVacancies$ | async">
      <strong>{{ vacancy.name }}</strong> - Зарплата: {{ vacancy.salary | currency:'KZT':'symbol':'1.0-0' }} <p>{{ vacancy.description }}</p>
    </li>
  </ul>
  <ng-template #noVacancies>
    <p>Для этой компании вакансии не найдены.</p>
  </ng-template>
</div>
